.dialog-wrapper.modal {
	.dialog-scope();
	background:@modalBackground;
	.fadeIn(@fadeTime);
	.dialog {
		animation-delay:@fadeDelay;
	}
}
.dialog {
	.dialog-scope();
	border:@border;
	border-radius:@borderRadius;
	padding:@borderRadius/2;
	.boxShadow();
	.fadeIn(@fadeTime);
}