
.menu ul, button.menu + .menu {
	.boxShadow();
	border:1px solid;
	.border-color();
}
.menu li {
	.selectable();
	padding: 0 1ex;
	ul {
		top:-1px;
	}
}
.menu li:hover ul {
	background-color:@primaryColor;
	color:black;
}
.sub-menu() {
	.menu-scope();
	transition: opacity @fadeOut-time @fadeOut-delay, transform @transformOut-time @transformOut-delay;
}
.show-sub-menu() {
	.menu-scope();
	transition: opacity @fadeIn-time @fadeIn-delay, transform @transformIn-time @transformIn-delay;
}
.rehide-sub-menu() {
	.menu-scope();
	transition: opacity @fadeChange-time, transform @transformChange-time;
}
.splitButton {
	border-width: 1px 0 1px 1px;
	.border-color();
	border-radius:.25em 0 0 .25em;
	padding-right:0;
	& + div button {
		border-width: 1px;
		.border-color();
		border-radius: 0 .25em .25em 0;
		padding:0;
	}
}