
.menu ul, button.menu + .menu {
	box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.menu li {
	padding: 0 1ex;
}
.menu li:hover {
	background-color:blue;
	color:white;
}
.menu li:hover ul {
	background-color:white;
	color:black;
}