
.menu ul, button.menu + .menu {
	.boxShadow();
}
.menu li {
	padding: 0 1ex;
	.selectable();
}
.menu li:hover ul {
	background-color:@primaryColor;
	color:black;
}
.sub-menu() {
	.menu-scope();
	transition: opacity @fadeOut-time @fadeOut-delay, transform @transformOut-time @transformOut-delay;
}
.show-sub-menu() {
	.menu-scope();
	transition: opacity @fadeIn-time @fadeIn-delay, transform @transformIn-time @transformIn-delay;
}
.rehide-sub-menu() {
	.menu-scope();
	transition: opacity @fadeChange-time, transform @transformChange-time;
}