.selectionTable {
	border-collapse:collapse;
	& > header {
		font-weight:bold;
	}
	& > div > * {
		cursor: pointer;
	}
	& > * > * {
		&:nth-child(even) {
			background-color:@background-color2;
		}
		& > * {
			padding:1ex;
		}
		& > input:checked ~ * {
			color:@selected-color;
			background-color:@selected-background-color;
		}
	}
}
