@import (reference, once) "variables";

.background() {
	background-color:@primaryColor;
}
.border-color() {
	border-color:@ternaryColor;
}

.fadeIn(@time:@fadeTime, @delay:0s) {
	animation+: fadeIn @fadeTime @delay both;

	@keyframes fadeIn {
		from {
			opacity:0;
		}
		to {
			opacity:1;
		}
	}
}

.selectable() {
	.selected(@color:@secondaryColor) {
	 	background-color:@color;
	 	color:@primaryColor;
	}
	&:hover {
		background-color:fade(@secondaryColor,40%);
	}
}
.zebra() {
	&:nth-child(even) {
		background-color:fade(@ternaryColor,40%);
	}
}

.boxShadow(){
	box-shadow: 1em 1em .5em fade(darken(@ternaryColor,20%),40%);
}
.stripes(@color1:@secondaryColor,@color2:lighten(@color1,20%),@width: 100px,@angle: 45deg) {
	background-size: @width @width;
	background-image: linear-gradient(@angle, @color1 25%, @color2 25%, @color2 50%, @color1 50%, @color1 75%, @color2 75%, @color2);
	.animate-stripes(@time:2s)
	{
		animation+: animate-stripes 2s linear infinite;

		@keyframes animate-stripes {
			0% {
				background-position: 0 0;
			}
			100% {
				background-position: 100px 0;
			}
		}
	}
}