@primaryColor:white;
@secondaryColor:blueviolet;

@fadeTime:.25s;


/****************************/
/*** calculated variables ***/
/****************************/

@textColor:#fff-@primaryColor;
@ternaryColor:darken(spin(@secondaryColor,-90),10%);
@backgroundColor:@primaryColor;
@borderColor:@ternaryColor;