html, body {
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	border:0 none;
}

body {
	display:grid;
	grid-template:
	"header header" min-content
	"menu frame" auto
	/ min-content auto;
	overflow:hidden;
}
#header {
	grid-area:header;
	font-size:4vh;
	background-color:blueviolet;
	display:flex;
	justify-content:center;
}
#header h1 {
	margin:.5vh 0;
}
#header sub {
	font-size:2vh;
	position:relative;
}
#header sub::after {
	content:"🦋";
	animation: flap 60s 30s ease-in-out infinite ,fly 60s 30s ease-in-out infinite;
	position: absolute;
}
@keyframes flap {
	0%,53%,100% {
		transform: scale(1,1);
	}
	0%,1%,2%,3%,4%,5%,6%,7%,8%,9%,10%,11%,12%,13%,14%,15%,16%,17%,18%,19%,20%,21%,22%,23%,24%,25%,
    26%,27%,28%,29%,30%,31%,32%,33%,34%,35%,36%,37%,38%,39%,40%,41%,42%,43%,44%,45%,46%,47%,48%,49%,50%,51% {
		transform: scale(1,1);
	}
	0.5%,1.5%,2.5%,3.5%,4.5%,5.5%,6.5%,7.5%,8.5%,9.5%,10.5%,11.5%,12.5%,13.5%,14.5%,15.5%,16.5%,
    17.5%,18.5%,19.5%,20.5%,21.5%,22.5%,23.5%,24.5%,25.5%,26.5%,27.5%,28.5%,29.5%,30.5%,31.5%,32.5%,
    33.5%,34.5%,35.5%,36.5%,37.5%,38.5%,39.5%,40.5%,41.5%,42.5%,43.5%,44.5%,45.5%,46.5%,47.5%,48.5%,49.5%,50.5%,51.5% {
		transform: scale(.5,1);
	}
}
@keyframes fly {
	0%,50%,100% {
		bottom: 0;
		left: 100%;
	}
	5% {
		bottom: 4vh;
		left: 4vw;
	}
	10% {
		bottom: 0vh;
		left: 8vw;
	}
	14% {
		bottom: 3vh;
		left: 10vw;
	}
	18% {
		bottom: 6vh;
		left: 8vw;
	}
	34% {
		bottom: -6vh;
		left: -30vw;
	}
	40% {
		bottom: 7vh;
		left: -25vw;
	}
}
#menu {
	grid-area:menu;
	border-right-style: solid;
	border-right-width: .5ex;
	padding: 1em;
}
.menu-container {
	margin-left:1em;
}
#menu a {
	display:block;
	line-height:1.25em;
	position:relative;
	z-index:1;
}
#menu a.summaryLink{
	margin-left:1em;
}
#menu a.summaryLink + Details > summary{
	margin-top:-1.25em;
	white-space:nowrap;
}
#menu a.summaryLink + Details > summary span {
	visibility:hidden;
}
#frame {
	grid-area:frame;
	border:0 none;
}