html,body {
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
}
#showcaseList {
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#showcase {
    border: 0 none;
    flex: 1 0 0;
}