html,body {
	width:100%;
	height:100%;
	margin:0;
	padding: 0;
	border:0 none;
	box-sizing: border-box;
}

body {
	display: flex;
}
.content {
	flex:1 0 0;
	display: flex;
	flex-direction: column;
}
#fixture {
	flex:1 0 0;
	padding: 2em;
}
#subTests:empty{
	display: none;
}